.Nav{
    width: 100%;
    display: flex;
    position: fixed;
    overflow: auto;
    flex-direction: row;
    justify-content: space-evenly;
}

.navigationMenu ul{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.navigationMenu ul li {
    list-style-type: none;
}

